APP_ENV=development
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password

SECRET_KEY=your_jwt_secret_key

ZAMMAD_URL=https://your-zammad-instance.zammad.com/
ZAMMAD_USERNAME=your_zammad_email@example.com
ZAMMAD_PASSWORD=your_zammad_password

ALLOWED_ORIGIN=http://localhost:5173
